@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
/* font-family: 'Nerko One', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;600;700&display=swap');
/* font-family: 'Oswald', sans-serif; */

/*Media query's converted to em*/
/* Xpx / 16 = em
 75em - 1200px
/68.75em - 1100px
56.25em - 900px
43.75em - 700px
25em - 400px
*/

:root {
  --baseColor: #827fb2;
  --baseColor-Dark: #1e1959;
  --baseColor-Dark-2: #0c083b;
  --baseColor-Light: #595494;
  --baseColor-Light-2: #373276;
  --alert: #f54712;
  --success: #88ff00;
  --lightGradient: linear-gradient(to left, rgb(89, 84, 148), rgb(30, 25, 80));
  --darkGradient: linear-gradient(to left, rgb(55, 50, 118), rgb(30, 25, 89));
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media screen and (min-width: 75em) {
  html {
    font-size: 72.5%;
  }
}

body {
  font-family: 'Oswald', sans-serif;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  background-color: var(--baseColor);
  color: var(--baseColor-Dark);
}

/* Dark mode */
.dark {
  background: var(--baseColor-Dark-2);
  color: var(--baseColor);
}
/*.dark h1 {
}*/

/* Form */
.form-style-10 {
  padding: 3rem;
  background: var(--baseColor-Light);
  border-radius: 0.5rem 0.5rem 0.5rem 0;
  overflow: hidden;
}
.form-style-10 .inner-wrap {
  padding: 3rem;
  background: var(--baseColor-Light-2);
  border-radius: 0.5rem 0.5rem 0.5rem 0;
  margin-bottom: 15px;
}
.form-style-10 h1 {
  background: var(--baseColor-Light-2);
  padding: 1rem 3rem 1.5rem 3rem;
  margin: -3rem -3rem 3rem -3rem;
  color: var(--baseColor-Light);
  font-size: 2rem;
}
.form-style-10 h1 > span {
  display: block;
  margin-top: 0.2rem;
  font-size: 1.3rem;
}
.form-style-10 label {
  display: block;
  font-size: 1.3rem;
  color: var(--baseColor-Light);
  margin-bottom: 1.5rem;
}
.form-style-10 input[type='text'],
.form-style-10 input[type='datetime-local'],
.form-style-10 input[type='email'],
.form-style-10 input[type='password'],
.form-style-10 textarea,
.form-style-10 select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border-radius: 0.5rem 0.5rem 0.5rem 0;
  background-color: var(--baseColor-Light);
  border: 0.1rem solid var(--baseColor-Light);
  outline: none;
  color: var(--baseColor-Light-2);
}

.form-style-10 input[type='text']:active,
.form-style-10 input[type='datetime-local']:active,
.form-style-10 input[type='email']:active,
.form-style-10 input[type='password']:active,
.form-style-10 textarea:active,
.form-style-10 select:active {
  border-bottom: 0.1rem solid var(--success);
}

.form-style-10 .section {
  font-size: 2rem;
  color: var(--baseColor-Light-2);
  margin-bottom: 0.5rem;
}
.form-style-10 .section span {
  background: var(--baseColor-Light-2);
  padding: 0.5rem 1rem 0.5rem 1rem;
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 0.4rem solid var(--baseColor-Light);
  font-size: 1.4rem;
  margin-left: -4.5rem;
  color: var(--baseColor-Light);
  margin-top: -0.3rem;
}

.button_container {
  display: flex;
  justify-content: flex-end;
}

.details_button {
  padding: 0.2rem 0.5rem;
  margin-left: 1rem;
  background-color: var(--baseColor-Dark-2);
  border: solid 0.1rem var(--baseColor-Dark-2);
  text-transform: uppercase;
  color: var(--baseColor);
  font-size: 1.2rem;
  transition: all 0.3s;
  cursor: pointer;
  outline: none;
}
.details_button:hover {
  background-color: var(--baseColor);
  color: var(--baseColor-Dark-2);
}
.details_button:active {
  transform: scale(0.9);
}

.light_detail_button {
  background-color: var(--baseColor);
  color: var(--baseColor-Dark-2);
}
.light_detail_button:hover {
  background-color: var(--baseColor-Dark-2);
  color: var(--baseColor);
}
